* {
    user-select: none!important;
    font-family: "Space Grotesk", sans-serif;
    margin: 0px;  
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    background-image:
    radial-gradient(at 50% 50%, #1e1e1e 0px, transparent 100%),
    radial-gradient(at 29% 74%, var(--main-color) 0px, transparent 20%),
    radial-gradient(at 31% 83%, var(--hover-color) 0px, transparent 20%),
    radial-gradient(at 77% 7%, var(--main-color) 0px, transparent 20%),
    radial-gradient(at 19% 18%, var(--main-color) 0px, transparent 20%),
    radial-gradient(at 70% 36%, var(--hover-color) 0px, transparent 20%),
    radial-gradient(at 5% 0%, var(--hover-color) 0px, transparent 20%),
    radial-gradient(at 59% 57%, var(--main-color) 0px, transparent 20%);
    background-size: 150% 150%;
    animation: my_animation 10s ease infinite;
}

@keyframes my_animation {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.randoms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 45px;
}

.randoms h3 {
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
}

.randoms h4 {
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
}

.randoms img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out .2s;
    z-index: 10;
}

.randoms img:hover {
    transform: scale(1.05);
}

.randoms div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20rem;
    max-height: 100%;
}

.container1 {
    position: fixed;
    min-width: 100px;
    min-height: 50px;
    max-width: fit-content;
    max-height: fit-content;
    top: 7rem;
    display: flex;
    justify-content: space-between;
    border: solid 3px var(--hover-color);
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%) scale(1);
}

.container {
    border: solid 1px rgb(180, 180, 180);
    border-style: dashed;
    min-width: 66px;
    min-height: 66px;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;

}

.container2 {
    position: fixed;
    width: 100%;
    bottom: 7%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%) scale(1);
}

.container3 {
    position: static;
}

.draggable {
    width: 30px;
    height: 30px;
    padding: 1rem;
    margin: 3px;
    background-color: var(--hover-color);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: grab;
}

.draggable.dragging {
    opacity: .5;
}

button {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    border-bottom: none;
    border-right: none;
    border-top: solid 2px var(--main-color);
    border-left: none;
    color: #ffffff;
    cursor: pointer;
    padding: .6rem;
    outline: 0;
    transition: all ease-in .2s;
}

button:hover {
    box-shadow: 0px 0px 20px var(--main-color);
    transform: scale(1.05);
}

.menu {
    background-color: transparent;
    border-bottom: solid 2px var(--main-color);
    border-right: solid 2px var(--main-color);
    border-top: none;
    border-left: none;
    cursor: pointer;
    width: 160px;
    height: 160px;
    position: fixed;
    top: 0px;
    border-bottom-right-radius: 130px;
    font-size: 25px;
    margin: 0px;
    margin-right: 100px;
}

.menu:hover {
    transform: scale(1.05);
    border-bottom: solid 2px var(--main-color);
    border-right: solid 2px var(--main-color);
    box-shadow: 0px 0px 20px var(--main-color);
}

.banniere {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: var(--hover-color);
    right: 55px;
    top: 35px;
    position: fixed;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
}

@media (max-width: 768px) {
    .randoms h3 {
        font-size: 20px;
    }
    .randoms h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h2 {
        right: auto;
        top: 5%;
        position :fixed;
        font-size: 18px;
    }
    button {
        height: 7%;
        font-size: 20px;
    }
    .menu {
        width : 100px;
        height: 100px;
        font-size: 20px;
    }
    .randoms {
        flex-direction: column;
        margin-top: 0;
    }

    .randoms img {
        aspect-ratio: 2/1;
        height: 80%;
        object-position: center 30%;
    }

    .randoms div {
        width: 60%;
        height: unset;
        max-height: 100%;
    }

    .container {
        min-width: unset;
        min-height: unset;  
    }
}

.logo {
    margin-top: 20px;
    width: 30%;
    text-align: center;
}
